<div id="<%= dom_id product %>">
  <p>
    <strong>Category:</strong>
    <%= product.Category %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= product.Tag %>
  </p>

  <p>
    <strong>Slider:</strong>
    <%= product.Slider %>
  </p>

</div>
